---
layout: archive
title: "Research Papers"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


{% include base_path %}

{% assign target_category = "work_in_progress" %}
{% assign title_shown = false %}

{% for post in site.publications reversed %}
  {% if post.category != target_category %}
    {% continue %}
  {% endif %}

  {% unless title_shown %}
    <h2>Work in progress</h2><hr />
    {% assign title_shown = true %}
  {% endunless %}

  {% include archive-single.html %}
{% endfor %}



